
    <p class="name"><img src="{{this.flags.png}}" class="flag"> <span class="country-name__info"> {{this.name.common}}</span>
    </p>

    <p class="capital text"><span class="country-info__text">Capital:</span> {{this.capital}}</p>


    <p class="language text"><span class="country-info__text">Language:</span> {{this.languages}}</p>


    <p class="population text"><span class="country-info__text">Population:</span> {{this.population}}</p>


    


